*{
    background-color: black;
}
table,tr,td{
    border: 1px solid red;
}

td{
    color: white;
    border: 0;
    padding: 5px;
}

.container{
    display: flex;
    
}
.container div input{
    color:white;
    padding:5px 10px;
}
.main{
    display:flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
}